<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund your account - Fractal Equities</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/usernav') %>
     <main class="ps-4 ps-md-5 pe-4 px-lg-5 content pt-3" data-bs-theme="dark">
        <div class="ps-md-2">
            <div class="">
                <h1 class="font-poppins fw-semibold">Fund Your Account</h1>

                <div class="mb-5">
                    <div class="pb-4">

                        <div class="">
                            <form action="/deposit" method="post">
                                <div class="row gx-5 gy-3">
                                    <div class="col-md-6 col-12 py-3">
                                        <div class="my-auto">
                                            <div class="mb-4">
                                                <p class="fw-semibold mb-0">Total Deposit</p>
                                                <p class="fw-bold fs-3">
                                                    <span class="color1">$</span><span id="userdeposit"><%= user1.deposit %></span>
                                                </p>
                                                <input type="text" value="<%= user.username %>" class="d-none" name="username">
                                            </div>
                                            <div class="mb-3">
                                                <label for="InputEmail1" class="form-label fw-semibold font-poppins">Enter Amount</label>
                                                <input type="number" class="form-control rounded-3" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter Amount" required name="amount">
                                            </div>
                                            <div class="mb-4">
                                                <label for="selectPlan" class="form-label">Choose a Payment method
                                                </label>
                                                <select class="form-select" id="selectMethod" name="coin">
                                                    <option value="USDT-ETH" selected>USDT (ERC-20)</option>
                                                    <option value="USDT-TRC">USDT (TRC-20)</option>
                                                    <option value="USDC-ETH">USDC (ERC-20)</option>
                                                    <option value="USDC-SOL">USDC (SOL)</option>  
                                                    <option value="USDT-BSC">USDT (BSC)</option>  
                                                    <option value="USDT-SOL">USDT (SOL)</option>  
                                                    <option value="BTC">Bitcoin</option>
                                                    <option value="ETH">Ethereum</option>
                                                    <option value="CRO">Cronos</option>
                                                    <option value="BNB">BNB Smart Chain</option>
                                                    <option value="BNB1">BNB Beacon Chain</option>
                                                    <option value="INJ">Injective (INJ)</option>
                                                    <option value="LTC">Litecoin (LTC)</option>
                                                    <option value="DOGE">Dogecoin (DOGE)</option>
                                                    <option value="SOL">Solana (SOL)</option>
                                                    <option value="XRP">Ripple (XRP)</option>
                                                    <option value="XMR">Monero (XMR)</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 ">
                                                <p class="mb-2 fw-light">Don't have crypto? Buy directly to the address displayed on your screen using the Links below</p>
                                                <div class="overflow-x-auto">
                                                    <div class="row g-3 text-center fw-light myhistory3">
                                                        <div class="col text-center"><span class=""><a href="https://www.moonpay.com/" class="btn btn-warning">Moonpay.com</a></span></div>
                                                        <div class="col"><span><a href="https://exchange.mercuryo.io/" class="btn btn-warning">Mercury.io</a></span></div>
                                                        <div class="col"><a href="https://ramp.network/buy" class="btn btn-warning">Ramp.network</a></div>
                                                        <div class="col"><span><a href="https://buy.bitcoin.com/" class="btn btn-warning">Bitcoin.com</a></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 mt-0 ">
                                        <div class="text-center bg-amount amount-shadow w-80 py-5 px-4 rounded-3">
                                            <div class="address">
                                                <p class="fw-bold fs-5">USDT (ERC-20) Address</p>
                                                <div class="mb-3">
                                                    <img src="/assets/img/eth.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                                </div>
                                            </div>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control text-center ref" value="0x3e4cE3e7C4b4B17a99Fc86E421d266aA8eccbD94" aria-label="readonly input example" readonly>
                                                <span class="input-group-text"><button type="button" class="btn btn-warning copy"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: 0.75rem;" id="copy">
                                                COPY
                                                </button></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 pb-3 pt-4 pt-sm-0 mt-0">
                                        <!-- <div class="mb-3">
                                            <label for="InputEmail11" class="form-label fw-semibold font-poppins">Transaction Hash</label>
                                            <input type="text" class="form-control rounded-3" id="InputEmail11" aria-describedby="emailHelp" placeholder="Enter Transation Hash to validate deposit" required name="transactID">
                                        </div> -->
                                        <div class="text-center text-md-start">
                                            <button class="btn btn3 fw-bold font-poppins" type="submit">DEPOSIT</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>

        let select = document.querySelector('#selectMethod')
        let address = document.querySelector('.address')
        let ref = document.querySelector('.ref')
        
        select.addEventListener('change', (e)=>{
            // console.log(e.target.value)
            let selected = e.target.value

            // console.log(selected)

            if(selected == 'USDT-ETH'){
                address.innerHTML = `
                                            <p class="fw-bold fs-5">USDT (ERC-20) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0x3e4cE3e7C4b4B17a99Fc86E421d266aA8eccbD94'
                copy.innerHTML = 'COPY'
            } else if (selected == 'USDT-TRC'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">USDT (TRC-20) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/tron.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'TAwmbkUTdfN93dgiV92bXtK7y7XKtrkTbr'
                copy.innerHTML = 'COPY'
            } else if (selected == 'USDC-ETH'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">USDC (ERC-20) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0x3e4cE3e7C4b4B17a99Fc86E421d266aA8eccbD94'
                copy.innerHTML = 'COPY'
            } else if (selected == 'USDT-BSC'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">USDT (BSC) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0x3e4cE3e7C4b4B17a99Fc86E421d266aA8eccbD94'
                copy.innerHTML = 'COPY'
            } else if (selected == 'USDC-SOL'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">USDC (Solana) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/SOL.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'J2aorpshbbcbG8ygzCsTWCrc6xLvXcrx82zXxLe4gLAc'
                copy.innerHTML = 'COPY'
            } else if (selected == 'USDT-SOL'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">USDT (Solana) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/SOL.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'J2aorpshbbcbG8ygzCsTWCrc6xLvXcrx82zXxLe4gLAc'
                copy.innerHTML = 'COPY'
            } else if (selected == 'BTC'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">BITCOIN Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/btc.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'bc1qg50utg7e3p7xvlcy2dk8xqafm3a2nmkaz2ku95'
                copy.innerHTML = 'COPY'
            }  else if (selected == 'ETH'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">ETH Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0x3e4cE3e7C4b4B17a99Fc86E421d266aA8eccbD94'
                copy.innerHTML = 'COPY'
            }  else if (selected == 'CRO'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Cronos Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0x3e4cE3e7C4b4B17a99Fc86E421d266aA8eccbD94'
                copy.innerHTML = 'COPY'
            } else if (selected == 'BNB'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">BNB Smart Chain Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0x3e4cE3e7C4b4B17a99Fc86E421d266aA8eccbD94'
                copy.innerHTML = 'COPY'
            } else if (selected == 'BNB1'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">BNB Beacon Chain Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/BNB1.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'bnb1rzdrq80c3787y55vzv2gar32e56khnzy6h7cwv'
                copy.innerHTML = 'COPY'
            } else if (selected == 'INJ'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Injective (INJ) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/INJ.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'inj17v3caat52h62jym5j26r5jkqxgyne6q76zk38r'
                copy.innerHTML = 'COPY'
            } else if (selected == 'LTC'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Litecoin (LTC) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/LTC.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'LZ5qqG1H8Xb2q3ecVphqcgAETAPc2PQDSm'
                copy.innerHTML = 'COPY'
            }else if (selected == 'DOGE'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Dogecoin (DOGE) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/DOGE.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'DH6ngr8PgufZRt2yz3cUdohmdELDH6D97q'
                copy.innerHTML = 'COPY'
            }else if (selected == 'SOL'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Solana (SOL) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/SOL.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'J2aorpshbbcbG8ygzCsTWCrc6xLvXcrx82zXxLe4gLAc'
                copy.innerHTML = 'COPY'
            }else if (selected == 'XRP'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Ripple (XRP) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/SOL.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'r4tx7fmAqvexqk1YmshSAtqwyDvF9uVzPh'
                copy.innerHTML = 'COPY'
            }else if (selected == 'XMR'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Monero (XRM) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/monero.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '4ARspMv95HBjgv3q6UJHd5La9fbnmQE13RSihXPqoc1BCBF3AxHqNL5Nsbv8qjbZuXfWDAxxtLLvKXcomEs4V2QpKNidWbo'
                copy.innerHTML = 'COPY'
            }
        })

        let copy = document.querySelector('#copy')
        
        copy.addEventListener('click', (e)=>{
            // e.preventDefault()
            navigator.clipboard.writeText(ref.value)
            copy.innerHTML = 'COPIED!'
        })

        let userdeposit = Number("<%= user1.deposit %>")

        function formatNumber(num) {
        if (Number.isInteger(num)) {
            return num.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        } else {
            return num.toLocaleString('en-US');
        }
    }

    document.getElementById('userdeposit').innerHTML = formatNumber(userdeposit)
    </script>
</body>
</html>