<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund your account - Fractal Equities</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/usernav') %>
     <main class="ps-4 ps-md-5 pe-4 px-lg-5 content pt-3" data-bs-theme="dark">
        <div class="ps-md-2">
            <div class="">
                <h1 class="font-poppins fw-semibold ps-4">Fund Your Account</h1>

                <div class="mb-5">
                    <div class="p-4">

                        <div>
                            <form action="/deposit" method="post">
                                <div class="row gx-5 gy-3">
                                    <div class="col-md-6 col-12 py-3">
                                        <div class="my-auto">
                                            <div class="mb-4">
                                                <p class="fw-semibold mb-0">Total Deposit</p>
                                                <p class="fw-bold fs-3">
                                                    <% if (Number.isInteger(user1.deposit)){ %>
                                                        $<span><%= user1.deposit %>.00</span>
                                                    <% } else{ %>
                                                        $<span><%= user1.deposit %></span>
                                                    <% } %>
                                                </p>
                                                <input type="text" value="<%= user.username %>" class="d-none" name="username">
                                            </div>
                                            <div class="mb-3">
                                                <label for="InputEmail1" class="form-label fw-semibold font-poppins">Enter Amount</label>
                                                <input type="number" class="form-control rounded-3" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter Amount" required name="amount">
                                            </div>
                                            <div class="mb-4">
                                                <label for="selectPlan" class="form-label">Choose a Payment method
                                                </label>
                                                <select class="form-select" id="selectMethod" name="coin">
                                                    <option value="USDT-ETH" selected>USDT (ERC-20)</option>
                                                    <option value="USDT-TRC">USDT (TRC-20)</option>
                                                    <option value="BTC">Bitcoin</option>
                                                    <option value="ETH">Ethereum</option>
                                                    <option value="BNB">BNB Smart Chain</option>
                                                    <option value="BNB1">BNB Beacon Chain</option>
                                                    <option value="INJ">Injective (INJ)</option>
                                                    <option value="LTC">Litecoin (LTC)</option>
                                                    <option value="DOGE">Dogecoin (DOGE)</option>
                                                    <option value="SOL">Solana (SOL)</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 ">
                                                <p class="mb-2 fw-light">Don't have crypto? Buy directly to the address displayed on your screen using the Links below</p>
                                                <div class="overflow-x-auto">
                                                    <div class="row g-3 text-center fw-light myhistory3">
                                                        <div class="col text-center"><span class=""><a href="https://www.moonpay.com/" class="btn btn-warning">Moonpay.com</a></span></div>
                                                        <div class="col"><span><a href="https://exchange.mercuryo.io/" class="btn btn-warning">Mercury.io</a></span></div>
                                                        <div class="col"><a href="https://ramp.network/buy" class="btn btn-warning">Ramp.network</a></div>
                                                        <div class="col"><span><a href="https://buy.bitcoin.com/" class="btn btn-warning">Bitcoin.com</a></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 p-md-5 mt-0">
                                        <div class="text-center">
                                            <div class="address">
                                                <p class="fw-bold fs-5">USDT (ERC-20) Address</p>
                                                <div class="mb-3">
                                                    <img src="/assets/img/eth.jpeg" alt="" class="img-fluid rounded-3" width="200px">
                                                </div>
                                            </div>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control text-center ref" value="0xf3238eF57455f4a9137492b43A4Ac032093cE81E" aria-label="readonly input example" readonly>
                                                <span class="input-group-text"><button type="button" class="btn btn-warning copy"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: 0.75rem;" id="copy">
                                                COPY
                                                </button></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 pb-3 pt-sm-0 mt-0">
                                        <!-- <div class="mb-3">
                                            <label for="InputEmail11" class="form-label fw-semibold font-poppins">Transaction Hash</label>
                                            <input type="text" class="form-control rounded-3" id="InputEmail11" aria-describedby="emailHelp" placeholder="Enter Transation Hash to validate deposit" required name="transactID">
                                        </div> -->
                                        <div class="text-center text-md-start">
                                            <button class="btn btn3 fw-bold font-poppins" type="submit">DEPOSIT</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>

        let select = document.querySelector('#selectMethod')
        let address = document.querySelector('.address')
        let ref = document.querySelector('.ref')
        
        select.addEventListener('change', (e)=>{
            // console.log(e.target.value)
            let selected = e.target.value

            // console.log(selected)

            if(selected == 'USDT-ETH'){
                address.innerHTML = `
                                            <p class="fw-bold fs-5">USDT (ERC-20) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpeg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0xf3238eF57455f4a9137492b43A4Ac032093cE81E'
                copy.innerHTML = 'COPY'
            } else if (selected == 'USDT-TRC'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">USDT (TRC-20) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/tron.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'TCtkPceKpW2pHJ5cmY58oujFXjrhE1FZeP'
                copy.innerHTML = 'COPY'
            } else if (selected == 'BTC'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">BITCOIN Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/btc.jpeg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'bc1qtddu4txxcv2q9hmy43peyqse55ljmv77xwc3wq'
                copy.innerHTML = 'COPY'
            }  else if (selected == 'ETH'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">ETH Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpeg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0xf3238eF57455f4a9137492b43A4Ac032093cE81E'
                copy.innerHTML = 'COPY'
            } else if (selected == 'BNB'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">BNB Smart Chain Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/eth.jpeg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = '0xf3238eF57455f4a9137492b43A4Ac032093cE81E'
                copy.innerHTML = 'COPY'
            } else if (selected == 'BNB1'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">BNB Beacon Chain Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/BNB1.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'bnb1xdd3f2r0cen3mw0ng4zhf5xr93vc7ly75cu60c'
                copy.innerHTML = 'COPY'
            } else if (selected == 'INJ'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Injective (INJ) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/INJ.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'inj17v3caat52h62jym5j26r5jkqxgyne6q76zk38r'
                copy.innerHTML = 'COPY'
            } else if (selected == 'LTC'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Litecoin (LTC) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/LTC.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'ltc1q2jk9vm4slt8gzhwrhsm88zupf7tw8aercv9xvur'
                copy.innerHTML = 'COPY'
            }else if (selected == 'DOGE'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Dogecoin (DOGE) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/DOGE.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'DH6ngr8PgufZRt2yz3cUdohmdELDH6D97q'
                copy.innerHTML = 'COPY'
            }else if (selected == 'SOL'){
                address.innerHTML = `
                        <p class="fw-bold fs-5">Solana (SOL) Address</p>
                                            <div class="mb-3">
                                                <img src="/assets/img/SOL.jpg" alt="" class="img-fluid rounded-3" width="200px">
                                            </div>
                `
                ref.value = 'CrV4ohFAnCPnAGWMoyvBduPMsdrEdBJuBfhHo5CH8Jy7'
                copy.innerHTML = 'COPY'
            }
        })

        let copy = document.querySelector('#copy')
        
        copy.addEventListener('click', (e)=>{
            // e.preventDefault()
            navigator.clipboard.writeText(ref.value)
            copy.innerHTML = 'COPIED!'
        })
    </script>
</body>
</html>